<!DOCTYPE html>
<html>
	<head>
		<title>Weather</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
		<style>
			figure {
				width: 15%; /* Ширина */
				float: left; /* Выстраиваем элементы по горизонтали */
				margin: 0 0 1% 1%; /* Отступ слева */
				background: #f0f0f0; /* Цвет фона */
				border-radius: 5px; /* Радиус скругления */
				padding: 1%; /* Поля */
			}
		</style>
	</head>
	<body>
		<div class="container">

			<!-- Static navbar -->
			<nav class="navbar navbar-default" role="navigation">
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="/">WEATHER</a>
			  </div>
			  <div class="navbar-collapse collapse">
			    <ul class="nav navbar-nav">
			      <li><a href="/info">Info</a></li>
			    </ul>
			  </div><!--/.nav-collapse -->
			</nav>

			<div>
			      <%if @error && @error.length > 0 then %>
			          <div class="alert alert-danger"><%=@error%></div>
			      <% end %>
			      <%= yield %>
			</div>

	</div>

		<script src="/vendor/jquery-1.9.1.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
