<%= "
<table class='table table-bordered'>
  <thead>
  <tr>
    <th scope='col'>День</th>
    <th scope='col'>Число</th>
    <th scope='col'>Месяц</th>
    <th scope='col'>min</th>
    <th scope='col'>max</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>#{sinoptic.days[0]}</td>
    <td>#{sinoptic.days[1]}</td>
    <td>#{sinoptic.days[2]}</td>
    <td>#{sinoptic.temp[0]}</td>
    <td>#{sinoptic.temp[1]}</td>
  </tr>
  <tr>
    <td>#{sinoptic.days[3]}</td>
    <td>#{sinoptic.days[4]}</td>
    <td>#{sinoptic.days[5]}</td>
    <td>#{sinoptic.temp[2]}</td>
    <td>#{sinoptic.temp[3]}</td>
  </tr>
  <tr>
    <td>#{sinoptic.days[6]}</td>
    <td>#{sinoptic.days[7]}</td>
    <td>#{sinoptic.days[8]}</td>
    <td>#{sinoptic.temp[4]}</td>
    <td>#{sinoptic.temp[5]}</td>
  </tr>
  <tr>
    <td>#{sinoptic.days[9]}</td>
    <td>#{sinoptic.days[10]}</td>
    <td>#{sinoptic.days[11]}</td>
    <td>#{sinoptic.temp[6]}</td>
    <td>#{sinoptic.temp[7]}</td>
  </tr>
  <tr>
    <td>#{sinoptic.days[12]}</td>
    <td>#{sinoptic.days[13]}</td>
    <td>#{sinoptic.days[14]}</td>
    <td>#{sinoptic.temp[8]}</td>
    <td>#{sinoptic.temp[9]}</td>
  </tr>
  <tr>
    <td>#{sinoptic.days[15]}</td>
    <td>#{sinoptic.days[16]}</td>
    <td>#{sinoptic.days[17]}</td>
    <td>#{sinoptic.temp[10]}</td>
    <td>#{sinoptic.temp[11]}</td>
  </tr>
  <tr>
    <td>#{sinoptic.days[18]}</td>
    <td>#{sinoptic.days[19]}</td>
    <td>#{sinoptic.days[20]}</td>
    <td>#{sinoptic.temp[12]}</td>
    <td>#{sinoptic.temp[13]}</td>
  </tr>
  </tbody>
  </table>
" %>