<table class='table table-bordered'>
  <thead>
  <tr>
    <th scope='col'>День</th>
    <th scope='col'>Число</th>
    <th scope='col'>Месяц</th>
    <th scope='col'>min</th>
    <th scope='col'>max</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
  </tr>
  <tr>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
  </tr>
  <tr>
    <td colspan='2'>Larry the Bird</td>
    <td>@twitter</td>
  </tr>
  </tbody>
</table>
